.App {
    text-align: center;
    border: 1px solid #000;
}

.numbers {

}

.btn {
    padding: 9px 12px;
    margin-top: 5%;
    border-radius: 4px;
    border: 2px solid dodgerblue;
    background-color: #000;
    color: #fff;
    font-weight: bold;
}
.list {
    list-style: none;
    padding: 0;
}
.list > li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid green;
    margin-left: 10px;
}